
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }
  
  .messages-box,
  .chat-box {
    height: 76vh;  
    overflow-y: scroll;
  }

  .chat-box {
    padding-bottom: 15px;
  }

  .col-9{

    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }  

.hero-waves{
    margin-top: -2em !important;
}

.row{
     margin-right: 0px;
     margin-left: 1px;
}

.bg-primary {
    background-color: #202040 !important;
}

.active {
    background-color: #202040 !important;
    border-color: black;
}

#cabecalho{
    height: 13vh;  
}

input{
    margin-top: -1em;
}

#titulo-curso{
    width: 100%;
    text-align: center;
}


.section-title-curso {
    padding-bottom: 40px;
  }
  
  .section-title-curso h2 {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;

    
  }
  
  .section-title-curso h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #1acc8d;
    margin: 4px 10px;
  }
  
  .section-title-curso p {
    font-size: 25px;
    margin-bottom: 1em;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #202040;
  }