<header
  id="header"
  class="fixed-top d-flex align-items-center header-transparent"
>
  <div class="container d-flex align-items-center" id="divnav">
    <div class="logo mr-auto">
      <h1 class="text-light">
        <a href="index.html"><span>Smartudy</span></a>
      </h1>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <svg
    class="hero-waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 "
    preserveAspectRatio="none"
  >
    <defs>
      <path
        id="wave-path"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
    </g>
  </svg>
</section>


<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>Smartudy</h3>
            <!-- <p class="pb-3">
                <em
                  >Qui repudiandae et eum dolores alias sed ea. Qui suscipit
                  veniam excepturi quod.</em
                >
              </p> -->
            <!-- <p>
                Avenida Paulista, 2000 <br />
                São Paulo - SP<br /><br />
                <strong>Email:</strong> contato@Smartudy.com<br />
              </p> -->
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Lorem ipsum</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Lorem ipsum</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Lorem ipsum</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Lorem ipsum</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Lorem ipsum</h4>
          <p>
            Tamen quem nulla quae legam multos aute sint culpa legam noster
            magna
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="divfooter" class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Smartudy</span></strong
      >. Todos os direitos reservados
    </div>
  </div>
</footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<div id="preloader"></div>
