<header
  id="header"
  class="fixed-top d-flex align-items-center header-transparent"
>
  <div class="container d-flex align-items-center" id="divnav">
    <div class="logo mr-auto">
      <h1 class="text-light">
        <a href="index.html"><span>Smartudy</span></a>
      </h1>
    </div>
  </div>


</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="main-container" class="container">
    <div class="row">
      <div
        class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center"
      >
        <div id="main-text" class="textmain" data-aos="zoom-out">
          <h1><span>{{curso.Titulo}}</span></h1>
          <h2>Tudo o que você precisa para iniciar no mundo da programação</h2>
          <div class="text-center text-lg-left">
            <a href="/chat" class="btn-get-started scrollto">Começar</a>
          </div>
        </div>
      </div>
      <div
        id="illustration"
        class="col-lg-5 order-1 order-lg-2 hero-img"
        data-aos="zoom-out"
        data-aos-delay="300"
      >
        <img
          src="{{curso.Ilustracao}}"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
  <svg
    class="hero-waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 "
    preserveAspectRatio="none"
  >
    <defs>
      <path
        id="wave-path"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
    </g>
  </svg>
</section>
<section id="counts" class="counts">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="icofont-simple-smile"></i>
          <span class="counter-up">{{curso.CargaHoraria}}</span><span>h</span>
          <p>Carga Horária</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="icofont-document-folder"></i>
          <span class="counter-up">{{curso.Progresso}}</span><span>h</span>
          <p>Progresso</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="icofont-live-support"></i>
          <span class="counter-up">{{curso.Alunos}}</span>
          <p>Alunos(As)</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="icofont-users-alt-5"></i>
          <span class="counter-up">{{curso.Avaliacao}}</span>
          <p>Avaliação</p>
        </div>
      </div>
    </div>
  </div>
</section>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<div id="preloader"></div>
