<section id="hero">
  <div id="main-container" class="container">
    <div class="d-flex justify-content-center">
      <div class="row col-md-3" id="loginform">

        <div id="logo" class="logo">
          <h1 class="text-light">
            <a href="index.html"><span>Smartudy.</span></a>
          </h1>
        </div>

      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="row col-md-3" id="loginform">
        <input
          type="text"
          name="name"
          class="form-control"
          id="name"
          placeholder="E-mail"
          data-rule="minlen:4"
          data-msg="Please enter at least 4 chars"
        />
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="row col-md-3" id="loginform">
        <input
          type="password"
          name="name"
          class="form-control"
          id="name"
          placeholder="********"
          data-rule="minlen:4"
          data-msg="Please enter at least 4 chars"
        />
      </div>
    </div>    
    <div class="d-flex justify-content-center">
      <div class="row col-md-3" id="">
        <a id="forgot" href="">Esqueci minha senha!</a>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="row col-md-3" id="loginform">
        <div class="text-center text-lg-left" id="loginbtn">
          <a href="/cursos" class="btn-get-started scrollto">Entrar</a>
        </div>
      </div>
    </div>
  </div>

  <svg
    class="hero-waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 "
    preserveAspectRatio="none"
  >
    <defs>
      <path
        id="wave-path"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
    </g>
  </svg>
</section>
