<header
  id="header"
  class="fixed-top d-flex align-items-center header-transparent"
>
  <div class="container d-flex align-items-center" id="divnav">
    <div class="logo mr-auto">
      <h1 class="text-light">
        <a href="index.html"><span>Smartudy</span></a>
      </h1>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <svg
    class="hero-waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 "
    preserveAspectRatio="none"
  >
    <defs>
      <path
        id="wave-path"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
    </g>
  </svg>
</section>

<!-- <section id="features" class="features name">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <p>Bem vindo, Fulano!</p>
      </div>
    </div>
</section> -->

<section id="features" class="features">
    <div class="container">

      <div class="section-title-curso" data-aos="fade-up">

        <p>Bem vindo, Fulano!</p>
        <h2>Continue de onde parou</h2>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-store-line" style="color: #ffbb2c;"></i>
            <h3><a href="/chat">Lorem Ipsum</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3><a href="/curso">Dolor Sitema</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3><a href="/curso">Sed perspiciatis</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
            <h3><a href="/curso">Magni Dolores</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section>

<section id="features" class="features">
    <div class="container">

      <div class="section-title-curso top" data-aos="fade-up">
        <h2>Em breve</h2>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="ri-store-line" style="color: #ffbb2c;"></i>
            <h3><a href="/chat">Lorem Ipsum</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3><a href="/curso">Dolor Sitema</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3><a href="/curso">Sed perspiciatis</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
            <h3><a href="/curso">Magni Dolores</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
            <i class="ri-database-2-line" style="color: #47aeff;"></i>
            <h3><a href="/curso">Nemo Enim</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
            <h3><a href="/curso">Eiusmod Tempor</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
            <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
            <h3><a href="/curso">Midela Teren</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
            <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
            <h3><a href="/curso">Pira Neve</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
            <i class="ri-anchor-line" style="color: #b2904f;"></i>
            <h3><a href="/curso">Dirada Pack</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
            <i class="ri-disc-line" style="color: #b20969;"></i>
            <h3><a href="/curso">Moton Ideal</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="550">
            <i class="ri-base-station-line" style="color: #ff5828;"></i>
            <h3><a href="/curso">Verdo Park</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
            <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
            <h3><a href="/curso">Flavor Nivelanda</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section>

<!-- 
<section id="features" class="features">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Cursos</h2>
      <p>Confira todos os nossos cursos!</p>
    </div>
    <div class="row curso" data-aos="fade-left">
      <div class="col-lg-6 col-md-4 mt-4 mt-md-0">
        <div
          class="icon-box d-flex justify-content-center"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <i class="ri-bar-chart-box-line" style="color: #5578ff"></i>
          <h3><a href="">Dolor Sitema</a></h3>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 mt-4 mt-md-0">
        <div
          class="icon-box d-flex justify-content-center"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <i class="ri-bar-chart-box-line" style="color: #5578ff"></i>
          <h3><a href="">Dolor Sitema</a></h3>
        </div>
      </div>
    </div>
    <div class="row curso" data-aos="fade-left">
      <div class="col-lg-6 col-md-4 mt-4 mt-md-0">
        <div
          class="icon-box d-flex justify-content-center"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <i class="ri-bar-chart-box-line" style="color: #5578ff"></i>
          <h3><a href="">Dolor Sitema</a></h3>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 mt-4 mt-md-0">
        <div
          class="icon-box d-flex justify-content-center"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <i class="ri-bar-chart-box-line" style="color: #5578ff"></i>
          <h3><a href="">Dolor Sitema</a></h3>
        </div>
      </div>
    </div>
  </div>
</section> -->

<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>Smartudy</h3>
            <!-- <p class="pb-3">
                <em
                  >Qui repudiandae et eum dolores alias sed ea. Qui suscipit
                  veniam excepturi quod.</em
                >
              </p> -->
            <!-- <p>
                Avenida Paulista, 2000 <br />
                São Paulo - SP<br /><br />
                <strong>Email:</strong> contato@Smartudy.com<br />
              </p> -->
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Lorem ipsum</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Lorem ipsum</h4>
          <ul>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Lorem ipsum</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Lorem ipsum</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Lorem ipsum</h4>
          <p>
            Tamen quem nulla quae legam multos aute sint culpa legam noster
            magna
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="divfooter" class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Smartudy</span></strong
      >. Todos os direitos reservados
    </div>
  </div>
</footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<div id="preloader"></div>
