<header
  id="header"
  class="fixed-top d-flex align-items-center header-transparent"
>
  <div class="container d-flex align-items-center" id="divnav">
    <div class="logo mr-auto">
      <h1 class="text-light">
        <a href="index.html"><span>Smartudy</span></a>
      </h1>
    </div>
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <svg
    class="hero-waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 "
    preserveAspectRatio="none"
  >
    <defs>
      <path
        id="wave-path"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
    </g>
  </svg>
</section>

<section id="features" class="features">
    <div class="container">

      <div class="section-title-curso" data-aos="fade-up">

        <p>Bem vindo, Matheus!</p>
        <h2>Continue de onde parou</h2>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="bx bx-code" style="color: #29cc61;"></i>
            <h3><a href="/curso">Lógica de programação</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
            <h3><a href="/curso">Educação Financeira</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
            <h3><a href="/curso">Libras</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section>

<section id="features" class="features">
    <div class="container">

      <div class="section-title-curso top" data-aos="fade-up">
        <h2>Disciplinas</h2>
      </div>

      <div class="row" data-aos="fade-left">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
            <i class="bx bx-code" style="color: #ffbb2c;"></i>
            <h3><a href="/curso">Lógica de programação II</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <i class='bx bxl-javascript' style="color: #4233ff;"></i>
            <h3><a href="/curso">JavaScript Básico</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
            <i class='bx bxl-javascript' style="color: #e80368;"></i>
            <h3><a href="/curso">JavaScript Intermediário</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <i class='bx bxl-javascript' style="color: #e361ff;"></i>
            <h3><a href="/curso">JavaScript Avançado</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
            <i class="bx bx-dollar-circle" style="color: #47aeff;"></i>
            <h3><a href="/curso">Tesouro para Leigos</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <i class="bx bx-dollar-circle" style="color: #ffa76e;"></i>
            <h3><a href="/curso">SELIC - Básico</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="350">
            <i class="bx bx-dollar-circle" style="color: #11dbcf;"></i>
            <h3><a href="/curso">SELIC - Intermediário</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
            <i class="bx bx-dollar-circle" style="color: #4233ff;"></i>
            <h3><a href="/curso">SELIC - Avançado</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="450">
            <i class="bx bxs-hand-up" style="color: #b2904f;"></i>
            <h3><a href="/curso">LIBRAS - Fundamentos</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="500">
            <i class="bx bxs-hand-up" style="color: #b20969;"></i>
            <h3><a href="/curso">LIBRAS - Alfabeto</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="550">
            <i class="bx bxs-hand-up" style="color: #ff5828;"></i>
            <h3><a href="/curso">LIBRAS - Palavras</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box" data-aos="zoom-in" data-aos-delay="600">
            <i class="bx bxs-hand-up" style="color: #29cc61;"></i>
            <h3><a href="/curso">LIBRAS - Conversação</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section>

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Smartudy</h3>
              <!-- <p class="pb-3">
                <em
                  >Qui repudiandae et eum dolores alias sed ea. Qui suscipit
                  veniam excepturi quod.</em
                >
              </p> -->
             <p>
                Avenida Paulista, 2000 <br />
                São Paulo - SP<br /><br />
                <strong>Email:</strong> contato@Smartudy.com<br />
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links úteis</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Fale Conosco</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Carreira</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Termos e condições de uso</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Código de conduta</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Privacidade</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Newsletter</h4>
            <p>
              Cadastre seu e-mail e fique por dentro de nossas novidades!
            </p>
            <form action="" method="post">
              <input type="email" name="email" /><input
                type="submit"
                value="Inscreva-se"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="divfooter" class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Smartudy</span></strong
        >. Todos os direitos reservados
      </div>
    </div>
  </footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<div id="preloader"></div>
