<header
  id="header"
  class="fixed-top d-flex align-items-center header-transparent"
>
  <div class="container d-flex align-items-center" id="divnav">
    <div class="logo mr-auto">
      <h1 class="text-light">
        <a href="index.html"><span>Smartudy</span></a>
      </h1>
    </div>
    <a href="/login" class="btn-login">Login</a>
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="main-container" class="container">
    <div class="row">
      <div
        class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center"
      >
        <div id="main-text" class="textmain" data-aos="zoom-out">
          <h1>Aprenda com <span>Smartudy</span></h1>
          <h2>Somos um aplicativo especializado em bla blabla</h2>
          <div class="text-center text-lg-left">
            <a href="#about" class="btn-get-started scrollto">Inscreva-se</a>
          </div>
        </div>
      </div>
      <div
        id="illustration"
        class="col-lg-5 order-1 order-lg-2 hero-img"
        data-aos="zoom-out"
        data-aos-delay="300"
      >
        <img
          src="assets/img/svg/illustration.svg"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>

  <svg
    class="hero-waves"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28 "
    preserveAspectRatio="none"
  >
    <defs>
      <path
        id="wave-path"
        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
      />
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)" />
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)" />
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff" />
    </g>
  </svg>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">
      <div class="row">
        <div
          class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch"
          data-aos="fade-right"
        ></div>

        <div
          class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
          data-aos="fade-left"
        >
          <h3>Smartudy - Um ótimo jeito novo de aprender e se divertir</h3>
          <p>
            Aprender com o Smartudy é divertido e viciante. Ganhe pontos ao
            acertar, corra contra o tempo e passe de nível. As nossas aulas são
            curtinhas e eficazes,
          </p>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="bx bx-code"></i></div>
            <h4 class="title"><a href="">Lógica de Programação</a></h4>
            <p class="description">
              Voluptatum deleniti atque corrupti quos dolores et quas molestias
              excepturi sint occaecati cupiditate non provident
            </p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="bx bx-dollar-circle"></i></div>
            <h4 class="title"><a href="">Educação Financeira</a></h4>
            <p class="description">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque
            </p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="bx bxs-hand-up"></i></div>
            <h4 class="title"><a href="">Língua brasileira de sinais</a></h4>
            <p class="description">
              Explicabo est voluptatum asperiores consequatur magnam. Et
              veritatis odit. Sunt aut deserunt minus aut eligendi omnis
            </p>
          </div>

          <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="bx bx-body"></i></div>
            <h4 class="title"><a href="">Educação Sexual</a></h4>
            <p class="description">
              Explicabo est voluptatum asperiores consequatur magnam. Et
              veritatis odit. Sunt aut deserunt minus aut eligendi omnis
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <section id="counts" class="counts">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="icofont-simple-smile"></i>
            <span data-toggle="counter-up">4</span>
            <p>Cursos</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="icofont-document-folder"></i>
            <span data-toggle="counter-up">521</span>
            <p>Módulos</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-live-support"></i>
            <span data-toggle="counter-up">1,463</span>
            <p>Atividades</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-users-alt-5"></i>
            <span data-toggle="counter-up">15</span>
            <p>Especialistas</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="details" class="details">
    <div class="container">
      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="assets/img/svg/collab.svg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-8 pt-4" data-aos="fade-up">
          <h3>Quem somos</h3>
          <!-- <ul>
            <li><i class="icofont-check"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="icofont-check"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
            <li><i class="icofont-check"></i> Iure at voluptas aspernatur dignissimos doloribus repudiandae.</li>
            <li><i class="icofont-check"></i> Est ipsa assumenda id facilis nesciunt placeat sed doloribus praesentium.</li>
          </ul> -->
          <p>
            A Smartudy nasceu da vontade de inovar e proporcionar acesso a
            diversos conteúdos eliminando impasses como tempo e distância.
          </p>
          <p>
            Com cursos atualizados e didáticos é aqui que você vai melhorar suas
            habilidades em diversas áreas! Sempre com o foco nos assuntos do
            momento e de olho no mercado de trabalho brasileiro.
          </p>
          <p>
            Você vai estudar com inteligências artificais, exercícios práticos,
            diversas curiosidades e conteúdos totalmente atualizados. Cursos
            criados e produzidos por profissionais brasileiros.
          </p>
          <p>
            Você terá acesso a diversos cursos de todas as áreas, com novos
            lançamentos todos os meses. Na Smartudy você encontra cursos que vão
            de programação à libras. Aprendizado estruturado, com a didática de
            quem sabe ensinar e é reconhecido no mercado de trabalho.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
          <img src="assets/img/svg/code.svg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
          <h3>Educação com inovação</h3>
          <p class="font-italic">Acreditamos no poder da técnologia</p>
          <p>
            A Smartudy, investe não apenas na qualidade de seu material
            didático, como também em novos meios para difundir conceitos e
            técnicas de forma eficiente, para alunos de qualquer lugar.
          </p>
          <p>
            Atualmente, com uma equipe de profissionais altamente qualificados,
            a empresa visa oferecer uma nova forma de ensino personalizada para
            seus alunos através de um método didático simples, fácil e prático
            com o auxílio de novas tecnologias, como inteligencia artificial,
            utilizando chatbots(robôs) para um aprendizado interativo.
          </p>
          <p>
            Nossa missão é oferecer meios e recursos tecnológicos para que
            qualquer pessoa possa aprender, se qualificar e melhorar de vida
            através do ensino a distância.
          </p>
        </div>
      </div>

      <div class="row content">
        <div class="col-md-4" data-aos="fade-right">
          <img src="assets/img/svg/development.svg" class="img-fluid" alt="" />
        </div>
        <div class="col-md-8 pt-5" data-aos="fade-up">
          <h3>Como funciona</h3>
          <p class="font-italic">Educação a um toque</p>
          <p>
            Nossa missão é possibilitar a aprendizagem ao longo da vida por meio
            do oferecimento de percursos formativos didaticamente organizados,
            capazes de gerar engajamento por meio do uso de recursos
            tecnológicos e exercícios interativos.
          </p>
          <p>
            Assim, fazemos parcerias com escolas que desejam inovar o ensino
            tanto quanto nós. Oferecemos planos para instituições de ensino que
            desejam passar conhecimento para seus alunos de uma forma dinâmica e
            interativa, utilizando das tecnologias mais atuais do mercado e
            oferecendo conteúdos extracurriculares, que vão além do aprendizado
            tradicional.
          </p>
          <p>
            Para pessoas que desejam inovar seu aprendizado e expandir seu
            conhecimento e que não possuem vínculo com escolas que tenham
            parceria conosco, também oferecemos planos individuais.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Planos</h2>
        <p>Sabe quando você pode começar? Agora!</p>
      </div>
      <!-- <div id="planos"> -->
      <div
        class="row"
        data-aos="fade-left"
        style="display: flex; justify-content: center; align-items: center"
      >
        <div class="col-lg-3 col-md-6">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <h3>Inividual</h3>
            <h4><sup>R$</sup>30<span> / mês</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Assine</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-3 mt-md-0">
          <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
            
            <span class="advanced">Favorito</span>
            <h3>Escolar</h3>
            <h4><sup>R$</sup>10<span> / mês</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Assine</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-3 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="400">
            <h3>Empresas</h3>
            <h4><sup>R$</sup>?<span> / mês</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Conteúdo personalizado</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Entre em contato</a>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </section>
  <!-- End Pricing Section -->

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Smartudy</h3>
              <!-- <p class="pb-3">
                <em
                  >Qui repudiandae et eum dolores alias sed ea. Qui suscipit
                  veniam excepturi quod.</em
                >
              </p> -->
             <p>
                Avenida Paulista, 2000 <br />
                São Paulo - SP<br /><br />
                <strong>Email:</strong> contato@Smartudy.com<br />
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Lorem ipsum</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a></li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Lorem ipsum</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Lorem ipsum</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Lorem ipsum</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Lorem ipsum</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Lorem ipsum</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Lorem ipsum</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Lorem ipsum</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Lorem ipsum</h4>
            <p>
              Tamen quem nulla quae legam multos aute sint culpa legam noster
              magna
            </p>
            <form action="" method="post">
              <input type="email" name="email" /><input
                type="submit"
                value="Subscribe"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="divfooter" class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Smartudy</span></strong
        >. Todos os direitos reservados
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  <div id="preloader"></div>
</main>
