
body::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}


/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important;   /* Firefox */
}
