<div id="cabecalho">
  <header
    id="header"
    class="fixed-top d-flex align-items-center header-transparent"
  >
    <div class="container d-flex align-items-center" id="divnav">
      <div class="logo mr-auto">
        <h1 class="text-light">
          <a href="index.html"><span>Smartudy.</span></a>
        </h1>
      </div>
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
  </section>
</div>
<div id="main-div">
  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-3 px-0">

        <div class="row overflow-hidden">
          <div
            id="titulo-curso"
            class="section-title-curso bg-gray py-2 bg-light"
          >
            <p class="h5 mb-0 py-1">Meus cursos</p>
          </div>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">
            <a
              class="list-group-item list-group-item-action active text-white rounded-0"
              (click)="removerResponseSelector()"
            >
              <div class="media">
                <img
                  src="../../../assets/img/avatares/avatar5.jpg"
                  alt="user"
                  width="50"
                  class="rounded-circle"
                />
                <div class="media-body ml-4">
                  <div
                    class="d-flex align-items-center justify-content-between mb-1"
                  >
                    <h6 class="mb-0">Lógica de programação</h6>
                    <small class="small font-weight-bold">Hoje</small>
                  </div>
                  <p class="font-italic mb-0 text-small">
                      {{mensagemAtual}}
                  </p>
                </div>
              </div>
            </a>

            <a
              href="#"
              class="list-group-item list-group-item-action list-group-item-light rounded-0"
            >
              <div class="media">
                <img
                  src="../../../assets/img/avatares/avatar2.jpg"
                  alt="user"
                  width="50"
                  class="rounded-circle"
                />
                <div class="media-body ml-4">
                  <div
                    class="d-flex align-items-center justify-content-between mb-1"
                  >
                    <h6 class="mb-0">Educação Financeira</h6>
                    <small class="small font-weight-bold">26 Nov</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">
                    Clique aqui para continuar seu curso de Educação Financeira.
                  </p>
                </div>
              </div>
            </a>

            <a
              href="#"
              class="list-group-item list-group-item-action list-group-item-light rounded-0"
            >
              <div class="media">
                <img
                  src="../../../assets/img/avatares/avatar4.jpg"
                  alt="user"
                  width="50"
                  class="rounded-circle"
                />
                <div class="media-body ml-4">
                  <div
                    class="d-flex align-items-center justify-content-between mb-1"
                  >
                    <h6 class="mb-0">Libras</h6>
                    <small class="small font-weight-bold">25 Nov</small>
                  </div>
                  <p class="font-italic text-muted mb-0 text-small">
                    Clique aqui para continuar seu curso de Libras
                  </p>
                </div>
              </div>
            </a>

            
          </div>
        </div>
    </div>

    <!-- Chat Box-->
    <div class="col-9">
      <div class="row overflow-hidden">
        <div
          id="titulo-curso"
          class="section-title-curso bg-gray py-2 bg-light"
        >
          <p class="h5 mb-0 py-1">Lógica de programação</p>
        </div>
      </div>
      <div id="chat-box" class="px-4 py-5 chat-box bg-white">
        <!-- Sender Message-->

        <div #entry></div>

        <!-- <msg-bot></msg-bot> -->
      </div>

      <!-- Typing area -->
      <form action="#" class="bg-light">
        <div class="input-group">
          <input
            type="text"
            placeholder="Digite sua mensagem"
            aria-describedby="button-addon2"
            class="form-control rounded-0 border-0 py-4 bg-light"
            disabled
          />
          <div class="input-group-append">
            <button id="button-addon2" type="submit" class="btn btn-link">
              <i class="bx bx-send"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
